@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*Primary Colors*/
  --darkCyan: hsl(185, 75%, 39%);
  --darkBlue: hsl(229, 23%, 23%);
  --grayBlue: hsl(227, 10%, 46%);
  --white: white;

  /* Neutral Colours */
  --darkGray: hsl(0, 0%, 59%);
  --lightGray: hsl(225, 10%, 92%);

  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}
.page {
  background-color: var(--darkCyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: top -580px left -770px, bottom -620px right -720px;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  background-color: var(--white);
  height: 375px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  border: 0px !important;
  border-radius: 15px !important;
  box-shadow: -20px 50px 100px rgba(8, 70, 94, 0.5);
}

.profilePicture {
  position: absolute;
  border-radius: 100px;
  top: 89px;
  left: 125px;
  padding: 5px;
  background-color: var(--white);
  padding: 5px;
  transform: translate(0px, -2px);
}

#name {
  position: absolute;
  top: 210px;
  left: 110px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  color: var(--darkBlue);
}

#age {
  position: absolute;
  top: 210px;
  left: 223px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--grayBlue);
}

#country {
  position: absolute;
  top: 243px;
  left: 150px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: var(--grayBlue);
}

.followers {
  position: absolute;
  top: 315px;
  left: 40px;
  height: 35px;
  width: 63px;
}

.likes {
  position: absolute;
  top: 315px;
  left: 150px;
  height: 40px;
  width: 50px;
}

.photos {
  position: absolute;
  top: 315px;
  left: 250px;
  height: 40px;
  width: 45px;
}

.stats {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  color: var(--darkBlue);
}

.label {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 10px;
  margin-top: 5px;
  color: var(--grayBlue);
}

.separator > hr {
  position: absolute;
  left: 0;
  right: 0;
  top: 270px;
  border-color: var(--lightGray);
}

/* Desktop Styling */
@media screen and (min-width: 1440px) {
  .page {
    background-position: top -470px left -295px, bottom -627px right -220px;
    height: 100vh;
    width: 100%;
  }
}
